<h2>Show product</h2>

<ul>

  <li>
    <strong>Sku:</strong>
    <%= @product.sku %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @product.title %>
  </li>

  <li>
    <strong>Inventory:</strong>
    <%= @product.inventory_id %>
  </li>

</ul>

<%= link "Edit", to: product_path(@conn, :edit, @product) %>
<%= link "Back", to: product_path(@conn, :index) %>
