<h2>New packing list</h2>

<%= render "form.html", changeset: @changeset,
                        action: packing_list_path(@conn, :create) %>

<%= link "Back", to: packing_list_path(@conn, :index) %>
