<h2>Show packing list</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @packing_list.name %>
  </li>

  <li>
    <strong>Merged:</strong>
    <%= @packing_list.merged %>
  </li>

</ul>

<%= link "Download CSV", to: packing_list_path(@conn, :download_csv, @packing_list) %>


<%= link "Edit", to: packing_list_path(@conn, :edit, @packing_list) %>
<%= link "Back", to: packing_list_path(@conn, :index) %>
